.p1{
    width= 571px;
    height= 800px;
    position= "absolute";
    top= 200px;
    left= 150px;
}

.p1{
    width= 571px;
    height= 800px;
    position= absolute;
    top= 200px;
    left= 150px;
}

.p2{
    width= 571px;
    height= 800px;
    position= "absolute";
    top= 200px;
    right= 150px;
}

.next{
    width= 100px;
    height= 100px;
    position= "absolute";
    top= 200px;
    right= 50px;
}

.index{
    width= 300px;
    height= 100px;
    position= "relative";
    top= 1050px;
    left= 500px;
}

.test{
    color: #ff0000;
}

p {
   color: #000000;
   text-align: center;
}

html {
    background-color: #ffdab9;
}
 
body {
    background-color: #fff;
    padding: 20px 20px 20px;
    max-width: 1500px;
    margin: 10px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
