.p1{
    width: 571px;
    height: 800px;
    position: absolute;
    top: 0px;
    left: 260px;
}

.p2{
    width: 571px;
    height: 800px;
    position: absolute;
    top: 0px;
    right: 260px;
}

.next{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 385px;
    right: 150px;
}

.index{
    fontsize: 5;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    top: 750px;
    right: 75px;
}
.index:visited {
  color: #000000;
}


html {
    background-color: #ffdab9;
}
 
