.p1{
    width: 571px;
    height: 800px;
    position: absolute;
    top: 200px;
    left: 225px;
}

.p2{
    width: 571px;
    height: 800px;
    position: absolute;
    top: 200px;
    right: 225px;
}

.next{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 385px;
    right: 150px;
}

.index{
    width: 300px;
    height: 100px;
    position: absolute;
    top: 900px;
    text-align: center;
}


html {
    background-color: #ffdab9;
}
 
body {
    background-color: #fff;
    padding: 20px 20px 20px;
    max-width: 1500px;
    margin: 10px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}
